<?php
/**
 ** Copy this file as "config.php" with values for your environment
 **/

$CONFIG['serverEndpoint'] = 'http://weather.server.com/upload.php';
$CONFIG['location.name'] = 'Sannois, France';
$CONFIG['location.lat'] = 0.9760; // latitude of the weather station
$CONFIG['location.lon'] = 0.267; // longitude
$CONFIG['location.alt'] = 49; // altitude in m

$CONFIG['wu'] = 'Weather Underground'; // Provider name, do not change
$CONFIG['owd'] = 'Open Weather Map'; // Provider name, do not change

$CONFIG['weatherUnderground.stationId'] = 'ABCDEFGH2'; // Station id (or empty)
$CONFIG['weatherUnderground.key'] = 'ab3def6g'; // Station key

$CONFIG['openWeatherMap.appId'] = '1234567890abcdef1234567890abcdef'; 
$CONFIG['openWeatherMap.cityId'] = '123456'; // Go to openweathermap.org and search for your city

#I'm not sure the mapping must be done here. It should be on the server side
$CONFIG['sensorIdMapping'] = array(
	'PI'=>'2', // PI
	'45'=>'3', // Ext
	'28'=>'1'  // Int
);
$CONFIG['sensorIdInternal'] = '28';
$CONFIG['sensorIdExternal'] = '45';
